@font-face {
			font-family: avenir_next;
			src: url(../fonts/AvenirNextLTPro-Demi.woff);
		}
			/* rgb(0, 102, 204); ;
			
			
				/*digiwrapper*/
			.digiwrapper{
				color:#FFF;
				background-color:#002252;
				font-family:"avenir_next", sans-serif;
				
				width:100%;
				padding:20px
			}
			
			.digiwrapper.dark{
				background-color:#002252;
				
			}
			.digiwrapper.light{
				background-color:rgb(0, 102, 204);
				
			}
			
				/* statusimage related */
			
				.digiwrapper .statusimage{
					
					text-align:center
				}
				
				
					.digiwrapper .qr{
						display:inline-block;
						vertical-align:top;
						overflow:hidden;

						
					}
						.digiwrapper .qr canvas{
							padding:5px;
							background-color:#FFF;
							display:inline-block;
							border-radius:3px;
							border:#000 2px solid;							
							vertical-align:top;
							
						}
					
					.digiwrapper .loader {
						border: 32px solid #f3f3f3; /* Light grey */
						border-top: 32px solid rgb(0, 102, 204); /* Blue */
						border-radius: 50%;
						vertical-align:top;
						display:inline-block;
						animation: digispin 2s linear infinite;
					}
					
					.digiwrapper .loader.light{
						
						border-top-color:#002252;
					}

					@keyframes digispin {
						0% { transform: rotate(0deg); }
						100% { transform: rotate(360deg); }
					}

					
					
				/* statustext related */
					
				.digiwrapper .status .statusbar{
					width:100%;
					font-weight:bold;
					text-align:center;
					margin:5px 0;
					border-radius:10px;
					border:solid 2px #333;
					overflow:hidden;
				   
				}
					.digiwrapper .status .statusbar .inner{
						padding:5px;
						text-transform: uppercase;
						background-color:#FFF;
						color:#000;
						line-height:30px;
						height:40px
					}
					
					.digiwrapper .status .statusbar .inner.pending{
						background-color:rgb(0, 102, 204);
						color:#FFF;
					}
					.digiwrapper .status .statusbar .inner.ready{
						background-color:#090;
							color:#FFF;
					}
					.digiwrapper .status .statusbar .inner.failed{
						background-color:#900;
							color:#FFF;
					}
				